@model api3.Models.ResetPasswordViewModel

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/css/styles7.css"> 
</head>
<body>

    <div class="register-container">
        <h2>Reset Password</h2>
        <hr />

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ResetToken" />

            <div class="form-group">
                <label asp-for="NewPassword">New Password:</label>
                <input asp-for="NewPassword" type="password" class="form-control" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Confirm New Password:</label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" required />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Reset Password</button>
        </form>

        <p>Remenber your Password? <a asp-action="Login">Login here</a></p>
    </div>

</body>
</html>

