@model api3.Models.LoginRequest

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/styles5.css">
</head>
<body>

    <div class="container">

        <div class="image-section"></div>

        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form asp-action="Login" method="post">
                <div>
                    <label>Correo Electrónico:</label>
                    <input asp-for="Email" class="form-control" required />
                </div>

                <div>
                    <label>Contraseña:</label>
                    <input asp-for="Password" type="password" class="form-control" required />
                </div>

                <button type="submit" class="btn">Iniciar Sesión</button>
            </form>
            <p><a asp-action="Register">Crear una Cuenta</a></p>
            <p>
                ¿Olvidaste tu Contraseña?
                <a asp-controller="PasswordRecovery" asp-action="RequestReset">Haz clic aquí</a>
            </p>
        </div>
    </div>

</body>
</html>
